Importamos las librerías necesarias

In [1]:
import pandas as pd
import json

In [2]:
with open('source/data_wiki.json', 'r') as f:   ## Cargamos el fichero json output del spyder
    data = json.load(f)
    print("Número de registros contenidos en el fichero json: {}".format(len(data)))

Número de registros contenidos en el fichero json: 22979

In [3]:
moviesData = []
moviesMetadata = []
castData = []

# iteramos sobre los datos y separamos la información en tres tablas principales:

for e,i in enumerate(data):
    keys = list(data[e].keys())
    if 'title' in keys:
        moviesData.append(data[e])
        #data.pop(e)
    elif 'movie' in keys:
        moviesMetadata.append(data[e])
    elif 'name' in keys:
        castData.append(data[e])

In [4]:
### Guardamos la información en los diferentes ficheros CSV. 

df_movies = pd.DataFrame(moviesData)
df_movies.to_csv("dataset/df_movies.csv",sep = "|", index=False)
print("Total Registros de películas: {}".format(df_movies.shape[0]))


df_metamovies = pd.DataFrame(moviesMetadata)
df_metamovies.to_csv("dataset/df_metamovies.csv",sep = "|", index=False)
print("Total Registros de información extra de las películas: {}".format(df_metamovies.shape[0]))

df_castData = pd.DataFrame(castData)
df_castData.to_csv("dataset/df_castData.csv",sep = "|", index=False)
print("Total Registros del cast de las películas: {}".format(df_castData.shape[0]))

Total Registros de películas: 1348
Total Registros de información extra de las películas: 18376
Total Registros del cast de las películas: 3255

In [5]:
df_movies.sample(3)

,title,year,best movie,awards,nominations,linkMovie
1148,Panic in the Streets,1950,False,1,1\n,/wiki/Panic_in_the_Streets_(film)
1124,National Velvet,1945,False,2,5\n,/wiki/National_Velvet_(film)
357,The Full Monty,1997,False,1,4\n,/wiki/The_Full_Monty

In [7]:
df_metamovies.sample(3)

,movie,"""Directed""",link,"""Screenplay""","""Starring""","""Produced""",'Cinematography','Edited','Distributed','Language','Music','Country','Box office','Budget','Production company','Running time'
11734,The Dark Angel,NaN,https://en.wikipedia.org/wiki/The_Dark_Angel_(...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$1 million,NaN,NaN
2789,Letters from Iwo Jima,NaN,https://en.wikipedia.org/wiki/Letters_from_Iwo...,NaN,NaN,NaN,NaN,Gary D. Roach,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8693,Jaws,NaN,https://en.wikipedia.org/wiki/Jaws_(film),NaN,NaN,NaN,Bill Butler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_castData.sample(3)

,name,female,birthdate,birthplace,link
1388,Cristina Raines,True,1952-02-28,"[Manila, , , Philippines]",https://en.wikipedia.org/wiki/Cristina_Raines
1038,Rebecca De Mornay,True,1959-08-29,"[Santa Rosa, California, , U.S.]",https://en.wikipedia.org/wiki/Rebecca_De_Mornay
344,Philippe Petit,False,1949-08-13,"[Nemours, , Seine-et-Marne, France]",https://en.wikipedia.org/wiki/Philippe_Petit